@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #000000;
}
a:visited {
	color: #000;
}
a:hover, a:active, a:focus { 
	text-decoration: underline;
}

.container {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto; 
}

.header {
	background-color: #FFFFFF;
}

.sidebar1 {
	float: left;
	width: 225px;
	height:500px;
	background-color: #8A4B49;
	padding-bottom: 0px;
	text-align: center;
}
.contentMain {
	background-color: #FFFFFF;
	/*background:url(images/contentGradBG.jpg);
	background-position:top;
	background-repeat:repeat-x;*/
	padding: 0px 0px;
	width: 510px;
	float: left;
	text-align:left;
}
.content {
	background-color: #FFFFFF;
	/*background:url(images/contentGradBG.jpg);
	background-position:top;
	background-repeat:repeat-x;*/
	padding: 0px 0px;
	width: 735px;
	float: left;
	text-align:left;
}

.sidebar2 {
	float: left;
	width: 225px;
	height:500px;
	background-color: #698279;
	padding: 0px 0;
	text-align:center;
}

.content ul, .content ol { 
	padding: 0 0px 15px 0px; 
}

ul.nav {
	list-style: none; 
	margin-bottom: 15px; 
	
}
ul.nav li {
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 0px 5px 0px;
	display: block; 
	width: 225px; 
	text-decoration: none;
	background:url(images/divider01.png) repeat-x bottom;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background-color: #D1AD63;
	color: #FFF;
}

.footer {
	padding: 5px 0;
	background-color: #D1AD63;
	position: relative;
	clear: both; 
	text-align: center;
}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.container .sidebar1 table tr td {
	font-size: 9pt;
	color: #FFF;
	text-align: left;
}
