@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */

.container {
	margin: 0 auto;
	width: 960px;
}
.header {
	background: #AAAAAA;
	text-align: center;
	margin: 5px;
	padding: 10;
	float: left;
	width: 960px;
	height: 80px;
	
}
.nav {
	background: #BBBBBB;
	margin: 5px;
	padding: 10;
	float: left;
	width: 960px;
	height: 50px;
	text-align: center;
}
.content {
	background: #EEEEEE;
	margin: 5px;
	float: left;
	width: 960px;
	height: 500px;
	text-align: center;
}
.footer {
	background: #777777;
	margin: 5px;
	float: left;
	width: 960px;
	height: 50px;
	text-align: center;
}
